body {
	margin: 0;
	font-family: 'Marvel', sans-serif;
	
    font-size: 15px;
	line-height: 1.6;
	colour: #555;
}

.obt {
	width: 100%;
	height: 100vh;
	
	background:
	url("../bild/site_obt.png") center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


.nav {
	font-size: 40px;
	text-transform: uppercase;
}

